body {
	margin: 10px;
	font-family: sans-serif;
	font-weight: normal;
}
div {
	margin: 0;
}
ul {
	margin: 0;
}
li {
	margin: 0;
}

a:active, a:link, a:visited {
	text-decoration: none;
}

.overlay {
	fill: none;
	pointer-events: visible;
}

.tbl {
	position: absolute;
}
.phr {
	position: absolute;
}

.heading {
	height: 72px;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 2.1em;
	font-weight: normal;
	font-variant: small-caps;
	margin-bottom: 5px;
}
.heading-title img {
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	height:72px;
}

.master-cntrl {
	position: absolute;
	top: 10px;
	right: 20px;
}

.chart {
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	display: table-cell;
}
.chart-ctnt {
	text-align: center;
	height: 100%;
}
.chart-title {
	position: absolute;
	top: 0;
	left: 0;
	text-align: left;
	font-size: .9em;
	font-weight: normal;
	padding: 4px;
}
.chart-cntrl {
	position: absolute;
	top: 4px;
	right: 0;
}
.chart-indct {
	position: absolute;
	bottom: 4px;
	right: 3px;
}

.reset li {
	all: initial;
	* {
		all: unset;
	}
}

.dialog {
	position: absolute;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	padding: 10px;
}
.dialog td {
	padding: 2px;
}
.dialog input[type=text] {
	border-width: 1px;
	border-style: solid;
	border-color: white;
	margin-top: 1px;
}
.dialog textarea {
	border-width: 1px;
	border-style: solid;
	border-color: white;
}
.ronly {
	background-color: lightgrey;
	border-color: lightgrey;
	width: 70px;
}
#disable-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}
#channel-dialog {
	margin: 10% auto;
	width: 790px;
	display: none;
}
#charts-dialog {
	margin: 20% auto;
	width: 270px;
	display: none;
}
#setting-dialog {
	margin: 20% auto;
	width: 335px;
	display: none;
}
#setting-form .tbl-cll {
	width: 100%;
	padding: 5px;
}
#setting-name {
	font-size: 1.1em;
}

text.ctxt, .tick text {
	font-weight: normal;
	font-size: .7em;
	font-family: "PT Sans", sans-serif;
	text-rendering: optimizeLegibility;
}

.axis path, .axis line {
	fill: none;
	shape-rendering: crispEdges;
}

.tick line {
	opacity: 0.3;
}

.hide path, .hide line {
	display: none;
}

