body {
	margin: 10px;
	background-color: #ffffff;
	color: #000000;
	font-family: sans-serif;
	font-weight: normal;
}
div {
	margin: 0;
}
ul {
	margin: 0;
}
li {
	margin: 0;
}

a:active, a:link, a:visited {
	text-decoration: none;
}

.enableAnchor{
	color: blue;
}
.disableAnchor {
    color: black;
    pointer-events: none;
}

.overlay {
	fill: none;
	pointer-events: visible;
}

.chart {
	border: 1px solid #404040;
	border-radius: 3px;
}
.chart-ctnt {
	text-align: center;
}

.block-rect {
	fill: none;
	stroke: black;
	stroke-width: 1;
}

.block-line {
	stroke: black;
	stroke-width: 1;
}

.block-text {
	stroke: black;
	font-size: .8em;
}