.enableAnchor{
	color: blue;
}
.disableAnchor {
    color: black;
    pointer-events: none;
}

.block-rect {
	fill: none;
	stroke: #909090;
	stroke-width: 1;
}

.block-line {
	stroke: #909090;
	stroke-width: 1;
}

.block-text {
	color: black;
	font-size: .7em;
}

.block-slct {
	fill: white;
	pointer-events: visible;
	opacity: 0.0;
}

.peer-node {
	stroke: black;
	stroke-width: 2;
}

.peer-frme {
	stroke: black;
	stroke-width: 2;
}

.peer-line {
	stroke: #909090;
	stroke-width: 1;
}

.peer-text {
	color: black;
	font-size: 1.2em;
}